<table class="table striped">
  <tr>
    <th><%= t('orders.customer') %></th>
    <th><%= t('orders.order_date') %></th>
    <th><%= t('orders.product') %></th>
    <th><%= t('orders.price') %></th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td class="customer-name"><%= "#{order.customer.first_name} #{order.customer.last_name}" %>
      <td class="order-date"><%= l order.order_date %></td>
      <td class="order-product"><small><%= order.product %><small><br><%= "#{l(order.course_start)} - #{l(order.course_end)}" %></td>
      <td class="order-price"><%= number_to_currency order.price/100, locale: :de  %></td>
      <td>
        <%= link_to download_order_path(order) do %>
          <i class="fa fa-file-pdf-o"></i> Rechnung
        <% end %></br>
        <%= link_to edit_order_path(order) do %>
          <i class="fa fa-edit"></i> Bearbeiten
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
