<table class="table striped">
  <tr>
    <th>Kunde</th>
    <th>Bestelldatum</th>
    <th>Produkt</th>
    <th>Preis</th>
    <th></th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= "#{order.customer.first_name} #{order.customer.last_name}" %>
      <td><%= l order.order_date %></td>
      <td><small><%= order.product %><small><br><%= "#{l(order.course_start)} - #{l(order.course_end)}" %></td>
      <td><%= number_to_currency order.price/100, locale: :de  %></td>
      <td>
        <%= link_to download_order_path(order) do %>
          <i class="fa fa-file-pdf-o"></i> Rechnung
        <% end %>
      </td>
      <td>
        <%= link_to edit_order_path(order) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
